/*****  CSS Dons  *****/

.title_don_1 {
    color: white;
    font-size: 50px;
}

.title_don_2 {
    color: white;
    font-size: 45px;
}

.column_don_don {
    text-align: center;
    height: 100%;
}

.column_don_don_inside {
    background-color: white;
    height: 90%;
}

#column_don_don_left {
    padding-left: 15px;
    padding-right: 7.5px;
    height: 100%;
}

#column_don_don_center {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

#column_don_don_right {
    padding-left: 7.5px;
    padding-right: 15px;
    height: 100%;
}

.number_don_central {
    padding-top: 40px;
    text-align: center;
    font-size: 85px;
}

.description_column_don {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5vw;
}

.don_zoom {
    transition: all .2s ease-in-out;
}

.don_zoom:hover {
    transform: scale(1.05);    
}

.fiscale_don {
    color: #b1b1b1;
    font-size: 10px;
    margin-bottom: 10px;
}

.real_price_don {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 0;
    width: 0;
    text-align: center;
    vertical-align: middle;
    border-top: 110px solid #f9b000;
    border-left: 110px solid transparent;
}

#link_don {
    width: 75%;
}

.rotate_75_don {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.link_footer_don:hover {
    color: #1a181b;
}

.reduc_don {
    font-size: 1.2vw;
}

@media(min-width:1600px) {
    .description_column_don {
        height: 300px;
        max-height: 300px;
    }
}

@media(max-width:1200px) {
    .description_column_don {
        height: 155px;
        max-height: 155px;
    }
}

@media screen and (max-width: 968px) {
    #link_don {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #link_don {
        width: 100%;
    }
    .description_column_don {
        font-size: 4vw;
    }
    .column_don_don {
        margin-bottom: 50px;
    }
    #column_don_don_left, #column_don_don_center, #column_don_don_right{
        padding-left: 15px;
        padding-right: 15px;
    }
    .group_column_don, .reduc_don, .titles_don {
        background-color: #2e9a97;
    }
    .reduc_don {
        font-size: 2vw;
        padding-left: 20px;
    }
}

@media screen and (max-width: 540px) {
    .description_column_don {
        font-size: 5vw;
    }
    .reduc_don {
        font-size: 3vw;
        padding-left: 20px;
    }
}