#shape_enfant {
    margin-top: 300px;
}

@media screen and (max-width: 768px) {
    .padding_30 {
        padding-right: 30px;
        padding-left: 30px;
    }
    #shape_enfant {
        display: none;
    }
    #sticky_enfant {
        padding-top: 0px!important;
    }
    #retour_enfant {
        justify-content: center;
        padding-left: 0px!important;
    }
}