#shape_enfant {
    margin-top: 300px;
}
#Page_Enfant {
    display: none;
}

@media screen and (max-width: 768px) {
    .padding_30 {
        padding-right: 30px;
        padding-left: 30px;
    }
    #shape_enfant {
        display: none;
    }
    #sticky_enfant {
        padding-top: 0px!important;
    }
    #retour_enfant {
        justify-content: center;
        padding-left: 0px!important;
    }
}

.paragraph_enfant {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 20px 0;
}

.fs-22 {
    font-size: 22px;
}

.btn-grey {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 20px 0;
    width: 100%;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.5);
}