/*******  footer  *******/

.nbr_footer {
    font-size: 50px;
    line-height: 45px;
}

.desc_nbr {
    font-size: 15px;
}

#DDC-IDEAS {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-left: #d7D7D7 solid 1px;
    border-right: #d7D7D7 solid 1px;
}

@media (max-width: 1001px) {
    #footer-left {
        text-align: center !important;
    }

    #footer-right {
        text-align: center !important;
    }
}

@media (max-width: 1200px) {
    #desc-chiffresCles {
        padding-right: 100px;
    }

    #DDC-IDEAS {
        padding-top: 35px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-left: #d7D7D7 solid 0px;
        border-right: #d7D7D7 solid 0px;
    }
}

@media (max-width: 767px) {

    .nbr_footer {
        font-size: 35px;
        line-height: 30px;
    }

    .desc_nbr {
        font-size: 12px;
    }
}

