.stats-desc {
    margin-bottom: 40px;
    min-height: 126px!important;
}

@media (max-width: 767px) {
    .stats-desc {
        margin-bottom: 40px;
        min-height: 150px!important;
    }
}

@media (max-width: 450px) {
    .stats-desc {
        margin-bottom: 40px;
        min-height: 155px!important;
    }
}

@media (max-width: 400px) {
    .stats-desc {
        margin-bottom: 40px;
        min-height: 170px!important;
    }
}
